/* CreateGroupModal.css */
.modal, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-radius: 8px;
  padding: 2rem;
  width: 440px;
  height: 260px;
  z-index: 1020;
  position: relative;
}

h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-circle.selected {
  border: 2px solid #000;
}

.create-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 154px;
  padding: 10px;
  background-color: #0000a5;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.create-button:hover {
  background-color: #000088;
}


@media screen and (max-width: 580px) {
.modal-content {
  padding: 1rem;
  width: 270px;
  height: 160px;
  z-index: 1020;
  position: relative;
}

h2 {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}

.form-group {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 12px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 12px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-circle {
  width: 18px;
  height: 18px;
}

.color-circle.selected {
  border: 1px solid #000;
}

.create-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  padding: 5px;
  font-size: 12px;
}

}
