.container{
  display: none;
}


@media screen and (min-width: 650px)  {
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 100vh;
      background-color: #dae5f5;
      padding: 2rem;
    }
  .logo{
      width: 50%;
      height: auto;
      margin-bottom: 2rem;
    }
    .welcome-title{
      font-size: 2rem;
      font-weight: 700;
      color: #000000;
      margin: 2rem;
      line-height: 36px;
      letter-spacing: 2%;
    }
    .info{
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      margin: 1rem;
      line-height: 24px;
      letter-spacing: 2%;
      text-align: center;
    }

    .encryption{
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      margin: 1rem;
      line-height: 24px;
      letter-spacing: 2%;        
      position: absolute;
      bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
  }
  }
  
