.container {
    display: none;
}
  
  @media screen and (min-width: 550px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 100vh;
      background-color: #dae5f5;
      padding: 2rem;
    }
    
    .logo {
      width: 50%;
      height: auto;
      margin-bottom: 2rem;
    }
    
    .welcome-title {
      font-size: clamp(1.5rem, 2vw, 3rem); 
      font-weight: 700;
      color: #000000;
      margin: 2rem;
      line-height: 1.2;
      letter-spacing: 0.02em; 
    }
    
    .info {
      font-size: clamp(1rem, 1.5vw, 1.5rem); 
      font-weight: 400;
      color: #000000;
      margin: 1rem;
      line-height: 1.5; 
      letter-spacing: 0.02em;
      text-align: center;
    }
  
    .encryption {
      font-size: clamp(1rem, 1.5vw, 1.5rem); 
      font-weight: 400;
      color: #000000;
      margin: 1rem;
      line-height: 1.5;
      letter-spacing: 0.02em;
      position: absolute;
      bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  